template(name="chapters")
   ol
      li
         h3 Introduction
         h4 This is the tagline or subtitle for this chapter
         p IPhone +1 PBR, YOLO ethical biodiesel asymmetrical pop-up flannel DIY try-hard. Cornhole authentic seitan bitters chillwave, fap Cosby sweater. High Life hashtag quinoa shabby chic, 3 wolf moon XOXO deep v hoodie irony art party before they sold out synth swag lo-fi keytar. Yr PBR tofu, art party before they sold out ethnic Williamsburg twee shabby chic craft beer irony pop-up Shoreditch. Truffaut biodiesel High Life, twee banjo Marfa cliche mustache food truck seitan readymade kitsch DIY photo booth cred. Tonx trust fund brunch, shabby chic fashion axe gentrify Godard Helvetica put a bird on it sartorial tattooed 90's flannel. Fashion axe photo booth ethnic umami, before they sold out cliche 90's sartorial retro direct trade pop-up squid Kickstarter cray chambray.
         p Kitsch mixtape Schlitz you probably haven't heard of them hoodie, ennui readymade kogi Pitchfork slow-carb single-origin coffee. Cliche put a bird on it fingerstache pour-over Intelligentsia gluten-free. Typewriter gluten-free bicycle rights you probably haven't heard of them, Echo Park bespoke forage vinyl pour-over lomo iPhone keffiyeh tattooed jean shorts narwhal. Gastropub small batch Marfa 90's, umami Tumblr before they sold out Vice viral vegan keffiyeh asymmetrical banjo chillwave. Chia 3 wolf moon vegan, literally Godard VHS sustainable ennui. Wes Anderson Etsy shabby chic, four loko pickled Truffaut swag sustainable Blue Bottle Marfa VHS disrupt typewriter pop-up. Biodiesel church-key kale chips Williamsburg.
         p Tonx food truck chillwave tofu fashion axe. 90's small batch High Life +1, Odd Future chia cornhole Pitchfork lo-fi PBR&B. Trust fund banh mi chillwave, Tumblr Helvetica Austin actually vinyl cardigan church-key Williamsburg viral. 8-bit direct trade post-ironic, Thundercats try-hard four loko wayfarers freegan single-origin coffee distillery. Direct trade swag YOLO brunch, Schlitz Portland locavore pug narwhal. Trust fund fixie tattooed, crucifix Helvetica tofu cray. Odd Future mixtape gentrify fingerstache, iPhone fanny pack 90's vegan Brooklyn flexitarian sriracha ethnic dreamcatcher cornhole.

      li
         h3 Chapter 1
         h4 Setting up Your Local Machine
         p Ethnic fanny pack chia Blue Bottle, twee blog Brooklyn. Put a bird on it pop-up lo-fi, cray four loko keytar drinking vinegar hella chia fingerstache XOXO. Forage master cleanse four loko, biodiesel single-origin coffee synth fanny pack plaid Helvetica bitters scenester. Messenger bag shabby chic next level Schlitz, PBR&B letterpress distillery. Synth food truck Shoreditch High Life single-origin coffee, messenger bag bicycle rights kitsch gentrify dreamcatcher bitters direct trade. Deep v disrupt bespoke, Wes Anderson letterpress tofu four loko Austin messenger bag High Life sriracha whatever seitan beard cred. Small batch Etsy banh mi, Cosby sweater American Apparel cred fixie.
         p Crucifix lo-fi squid McSweeney's Echo Park twee Godard, paleo Williamsburg Carles art party Cosby sweater plaid aesthetic. Retro ennui yr VHS, +1 street art small batch you probably haven't heard of them. Whatever actually shabby chic locavore letterpress, post-ironic quinoa mustache Bushwick sustainable. Helvetica 3 wolf moon Blue Bottle, gentrify bitters leggings art party meh cray chia. Cosby sweater asymmetrical seitan, Tonx iPhone fap selfies Carles shabby chic mixtape squid. Wolf occupy XOXO, before they sold out YOLO bicycle rights gastropub scenester fixie ethnic sustainable DIY bespoke. Odd Future farm-to-table blog dreamcatcher.

      each chapters
         section.chapter
            li
               header
                  h3 {{title}}
                  h4 {{subtitle}}
               .lesson {{lesson}}

               .summary
                  h5 Chapter Summary
                  {{summary}}

               footer
                  h5 Review Exercises
                  ol
                     li {{exercise}}
