template(name="new_chapter")
   form
      label Chapter Title
      input(type="text", class="title", placeholder="Chapter Title", required)
      label Chapter Subtitle
      input(type="text", class="subtitle", placeholder="Chapter Subtitle", required)
      label Lesson
      textarea(class="lesson", placeholder="Add your chapter content here.", required)
      label Summary
      textarea(class="summary", placeholder="Provide a brief chapter summary.", required)
      label Optional Review Question(s)
      input(type="text", class="question", placeholder="Optional review question(s).")

      input(type="submit", value="Add New Chapter")
